<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.1.2" targetFramework="net48" />
  <package id="BoDi" version="1.5.0" targetFramework="net461" />
  <package id="Chromium.ChromeDriver" version="2.37" targetFramework="net48" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="FluentAssertions" version="6.12.0" targetFramework="net48" />
  <package id="Gherkin" version="20.0.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.17.3" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TestPlatform" version="14.0.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.Compatibility" version="5.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NUnit" version="4.4.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.2.0" targetFramework="net48" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.15.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.15.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="143.0.7499.4000" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="140.0.3485.66" targetFramework="net48" />
  <package id="Selenium-WebDriver-Helpers" version="2.3.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.74" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="SpecFlow.NUnit" version="3.9.74" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.74" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Odbc" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" targetFramework="net48" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.AccountManagement" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net48" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.Ports" version="5.0.1" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Pkcs" version="5.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.ServiceModel.Duplex" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Syndication" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net48" />
  <package id="System.Speech" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" requireReinstallation="true" />
  <package id="WebDriverManager" version="2.17.6" targetFramework="net48" />
</packages>